
<div class="loading-page" style="z-index: 7000; position: fixed">
	<ion-icon id="svg" name="leaf-outline"></ion-icon>
	<div class="name-container">
		<div class="logo-name">PreP2UniOnline</div>
	</div>
</div>
